<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>All articles</title>
</head>
<body>
    <h1>All articles (except global for now)</h1>
    
    <div th:each="article : ${articleslist}" th:attr="data-city=${article.city}">
        <span th:text="${article.date}">Date</span>
        <span><strong th:text="${article.title}">Title</strong></span></span><br>
    
        <span th:text="${article.city}">City</span> 
        &mdash;   
        </span><span th:text="${article.content}">Content</span>
        <hr>
    </div>
</body>
</html>
